/* sidebar */
$sidebar-color: #363740;
$logo-color: #a4a6b3;
$link-text-color: #dde2ff;
$link-highlight-color: rgba(159, 162, 180, 0.1);
$link-line-color: #f7f8fc;
$sidebar-width: 300px;
$sidebar-collapsed-width: 70px;

$border-radius: 12px;
$button-border-radius: 100px;
$border: 2px solid #eeeff5;
$border-field: 1px solid #d0d4d9;

$red-color: #f12b2c;
$red-hover-color: #ef7373;
$green-color: #29cc97;
$green-hover-color: #56e4b5;
$orange-color: #fb6542;
$yellow-color: #ffbb00;
$blue-color: #03a9f4;
$white-color: #ffff;
$gray-color: #797979;
$light-gray-color: rgb(191, 191, 191);
$error-color: rgb(169, 71, 71);
$success-color: rgb(73, 173, 73);
$upload-color: #74747b;
$upload-hover-color: #a5a5aa;

$transition-all-fast: all 0.3s;
$transition-all-slow: all 0.5s;

$subtitle-size: 17px;
$text-size: 16px;
$logo-size: 25px;
$alert-size: 18px;

$distance-between-blocks: 20px;
$distance-from-title: 10px;
