.sidebar {
  background-color: #363740;
  min-height: 100%;
  width: 300px;
  transition: all 0.5s;
  &.collapsed {
    width: 70px;
    transition: all 0.5s;
    .icon {
      font-size: 30px;
      transition: all 0.5s;
    }
    .bars {
      margin-left: 0;
    }
  }
}

.top_section {
  display: flex;
  align-items: center;
  padding: 25px 15px;
  .logo {
    color: #a4a6b3;
    font-size: 25px;
    font-weight: 700;
  }
  .bars {
    color: #a4a6b3;
    font-size: 25px;
    display: flex;
    margin-left: 70px;
    cursor: pointer;
  }
}

.nav_links {
  margin-top: 30px;
  .link {
    color: #dde2ff;
    display: flex;
    padding: 15px 15px;
    gap: 15px;
    position: relative;
    transition: all 0.5s;
    @mixin linkHighlighted {
      background: rgba(159, 162, 180, 0.1);
      transition: all 0.5s;
      &::before {
        content: '';
        position: absolute;
        width: 2px;
        height: 100%;
        left: 0;
        top: 0;
        background-color: #f7f8fc;
      }
    }
    &:hover {
      @include linkHighlighted();
    }
    &:global(.active) {
      @include linkHighlighted();
    }
    .text {
      font-size: 16px;
    }
    .icon {
      @extend .text;
      transition: all 0.5s;
    }
  }
}
