.image-container {
    position: relative;
    margin-top: 10px;
    top: 0;
    left: 0;
    width: 300px;
    height: 618px;
    display: flex;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
  z-index: 1;
}

.text-overlay {
  position: absolute;
  bottom: 7%;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  z-index: 2;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  height: 100%;
}

.text-overlay p {
  word-wrap: break-word;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  white-space: pre-wrap;
  font-size: 12px;
  font-weight: 550;
}

.button-show-story {
  text-align: center;
  padding-top: 10%;
}

.button-show-story button {
  font-size: 1px;
  text-overflow: "ellipsis";
  height: 35px;
  width: 95%;
  overflow: hidden;
  text-align: center;
  box-sizing: border-box;
}

.button-show-story div {
  font-size: 12px;
  padding-left: 10px;
  font-family: Verdana;
  text-align: center;
  overflow-wrap: break-word; 
}

.text-overlay p {
  word-wrap: break-word;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  white-space: pre-wrap;
  font-size: 12px;
  font-weight: 550;
}

.text-overlay h1 {
  word-wrap: break-word;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 25px;
}

.left, .right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  z-index: 3;
  opacity: "30%"
}

.left {
  left: 5%;
}

.right {
  right: 5%;
}

.lines {
  display: flex;
  position: relative;
  margin-left: 3%;
  margin-right: 3%;
  top: 2.5%;
}

.lines hr {
  size: "2";
  color: green;
  position: relative;
  z-index: 20;
  height: 3px;
  margin-right: 1%;
  border: none;
  opacity: 80%;
}

.showStory {
  display: "flex"
}

.buttonFrameBrowsing {
  opacity: 60%
}

