@use '../../../styles/variables';

.button {
  cursor: pointer;
  padding: 18px 20px;
  border: variables.$border;
  border-radius: variables.$button-border-radius;
  color: variables.$white-color;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.8px;
  z-index: 0;
  transition: variables.$transition-all-fast;

  .icon {
    svg {
      fill: variables.$white-color;
      margin-right: 10px;
    }
  }

  &:global(.green) {
    background-color: variables.$green-color;
    &:hover {
      background-color: variables.$green-hover-color;
      transition: variables.$transition-all-fast;
    }
  }

  &:global(.red) {
    background-color: variables.$red-color;

    &:hover {
      background-color: variables.$red-hover-color;
      transition: variables.$transition-all-fast;
    }
  }
}
