.btn_close {
  position: fixed;
  fill: white;
  right: 30px;
  top: 10px;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    fill: rgb(191, 191, 191);
    transition: all 0.3s;
  }
}
.image {
  max-height: 100vh;
}
