
.tag-list {
    list-style: none;
    padding: 0;
  }
  
  .tag-list li {
    position: relative;
    left: 0;
    color: #000000;
    list-style: none;
    margin: 4px 0;
    transition: 0.5s;
    cursor: pointer;
  }
  

  