.button {
  cursor: pointer;
  padding: 18px 20px;
  margin-bottom: 20px;
  min-width: 150px;
  border: 1px solid #c9caca;
  border-radius: 100px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.8px;
  z-index: 0;
  transition: all 0.3s;
  .icon {
    svg {
      fill: #fff;
      margin-right: 10px;
    }
  }
  &:global(.green) {
    background-color: #29cc97;
    &:hover {
      background-color: #56e4b5;
      transition: all 0.3s;
    }
  }
  &:global(.red) {
    background-color: #f12b2c;

    &:hover {
      background-color: #ef7373;
      transition: all 0.3s;
    }
  }
}
