* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

h1 {
  margin-bottom: 20px;
}

h2,
h3 {
  margin: 10px 0;
}

input[type='text'],
textarea,
select {
  border-radius: 12px;
  border: 1px solid #d0d4d9;
  padding: 15px 15px;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  transition: all 0.5s;
}

select {
  cursor: pointer;
}

textarea {
  min-height: 150px;
  resize: vertical;
}

textarea:focus,
input:focus,
select:focus {
  outline: none;
  box-shadow: 0px 0px 10px 0px rgb(222 218 218);
  transition: all 0.5s;
}

/**/
.container {
  min-height: 100%;
  display: flex;
}

.content {
  width: 100%;
  padding: 40px 20px;
  background: #f7f8fc;
}

.sidebar {
  background-color: #363740;
  min-height: 100%;
  width: 300px;
  transition: all 0.5s;
}

.sidebar.collapsed {
  width: 70px;
  transition: all 0.5s;
}

.sidebar.collapsed .icon {
  font-size: 30px;
  transition: all 0.5s;
}

.sidebar.collapsed .bars {
  margin-left: 0;
}

.logo {
  color: #a4a6b3;
  font-size: 25px;
  font-weight: 700;
}

.icon {
  color: #dde2ff;
  transition: all 0.5s;
}

.bars {
  color: #a4a6b3;
  font-size: 25px;
  display: flex;
  margin-left: 70px;
  cursor: pointer;
}

.top_section {
  display: flex;
  align-items: center;
  padding: 25px 15px;
}

.nav_links {
  margin-top: 30px;
}

.link {
  color: #dde2ff;
  display: flex;
  padding: 15px 15px;
  gap: 15px;
  position: relative;
  transition: all 0.5s;
}

.link:hover,
.active {
  background: rgba(159, 162, 180, 0.1);
  transition: all 0.5s;
}

.link:hover::before,
.active::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #f7f8fc;
}

.icon,
.link_text {
  font-size: 16px;
}

.stories {
  background: #fff;
  border: 2px solid #eeeff5;
  padding: 20px 30px;
}
