* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.container {
  display: flex;
}

.content {
  width: 100%;
  padding: 40px 20px;
  background: #f7f8fc;
}

.sidebar {
  background-color: #363740;
  height: 100vh;
  width: 300px;
  transition: all 0.5s;
}

.sidebar.collapsed {
  width: 70px;
  transition: all 0.5s;
}

.sidebar.collapsed .icon {
  font-size: 30px;
  transition: all 0.5s;
}

.sidebar.collapsed .bars {
  margin-left: 0;
}

.logo {
  color: #a4a6b3;
  font-size: 25px;
}

.icon {
  color: #dde2ff;
  transition: all 0.5s;
}

.bars {
  color: #a4a6b3;
  font-size: 25px;
  display: flex;
  margin-left: 70px;
  cursor: pointer;
}

.top_section {
  display: flex;
  align-items: center;
  padding: 25px 15px;
}

.nav_links {
  margin-top: 30px;
}

.link {
  color: #dde2ff;
  display: flex;
  padding: 15px 15px;
  gap: 15px;
  position: relative;
  transition: all 0.5s;
}

.link:hover,
.active {
  background: rgba(159, 162, 180, 0.1);
  transition: all 0.5s;
}

.link:hover::before,
.active::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #f7f8fc;
}

.icon,
.link_text {
  font-size: 16px;
}

.stories {
  background: #fff;
  border: 2px solid #eeeff5;
  padding: 30px;
}
