.select {
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
  margin-right: 48px;
}
.arrow_icon {
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
}
